.ez-collapse {
  --ez-collapse-border-color: var(--ez-border-color-light);
  --ez-collapse-header-height: 48px;
  --ez-collapse-header-bg-color: var(--ez-fill-color-blank);
  --ez-collapse-header-text-color: var(--ez-text-color-primary);
  --ez-collapse-header-font-size: 13px;
  --ez-collapse-content-bg-color: var(--ez-fill-color-blank);
  --ez-collapse-content-font-size: 13px;
  --ez-collapse-content-text-color: var(--ez-text-color-primary);
  --ez-collapse-disabled-text-color: var(--ez-disabled-text-color);
  --ez-collapse-disabled-border-color: var(--ez-border-color-lighter);
  border-top: 1px solid var(--ez-collapse-border-color);
  border-bottom: 1px solid var(--ez-collapse-border-color);
}
.ez-collapse-item__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--ez-collapse-header-height);
  line-height: var(--ez-collapse-header-height);
  background-color: var(--ez-collapse-header-bg-color);
  color: var(--ez-collapse-header-text-color);
  /* color: red; */
  cursor: pointer;
  font-size: var(--ez-collapse-header-font-size);
  font-weight: 500;
  transition: border-bottom-color var(--ez-transition-duration);
  outline: none;
  border-bottom: 1px solid var(--ez-collapse-border-color);
  &.is-disabled {
    color: var(--ez-collapse-disabled-text-color);
    cursor: not-allowed;
    background-image: none;
  }
  &.is-active {
    border-bottom-color: transparent;
    /* 旋转头部的箭头 */
    .header-angle {
      transform: rotate(90deg);
    }
  }
  /* 头部箭头过度动画时间 */
  .header-angle {
    transition: transform var(--ez-transition-duration);
  }
}
.ez-collapse-item__content {
  will-change: height;
  background-color: var(--ez-collapse-content-bg-color);
  overflow: hidden;
  box-sizing: border-box;
  font-size: var(--ez-collapse-content-font-size);
  color: var(--ez-collapse-content-text-color);
  border-bottom: 1px solid var(--ez-collapse-border-color);
  padding-bottom: 25px;
}
.slide-enter-active,
.slide-leave-active {
  transition: height var(--ez-transition-duration);
}
